@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-red: 0deg 100% 74%;
    --primary-green: 154deg 59% 51%;
    --accent-blue: 248deg 32% 49%;
    --neutral-dark-blue: 249deg 10% 26%;
    --neutral-grayish-blue: 246deg 25% 77%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
